<div class="main-container">
  <form
    class="form"
    nz-form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    nzLayout="vertical"
  >
    <div class="form-item header">
      <div class="title">Login</div>
      <div class="logo"></div>
    </div>

    <nz-form-item class="form-item">
      <nz-form-label>Email</nz-form-label>
      <nz-form-control nzErrorTip="Please enter a valid email address">
        <input
          nz-input
          formControlName="email"
          type="email"
          placeholder="Email"
          name="email"
        />
        <div
          *ngIf="
            loginForm.get('email')?.dirty && loginForm.get('email')?.errors
          "
        >
          <div *ngIf="loginForm.get('email')?.hasError('required')">
            Email is required
          </div>
          <div
            *ngIf="loginForm.get('email')?.hasError('invalidUniversityEmail')"
          >
            Email should have this format:
            first-name.last-name@[student.]unitbv.ro
          </div>
        </div>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-item">
      <nz-form-label>Password</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          formControlName="password"
          type="password"
          placeholder="Password"
          name="password"
        />
        <div
          *ngIf="
            loginForm.get('password')?.dirty &&
            loginForm.get('password')?.hasError('required')
          "
        >
          Password is required
        </div>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-item">
      <nz-form-control class="footer">
        <div class="buttons-group">
          <button
            class="button"
            type="submit"
            nz-button
            nzType="primary"
            [disabled]="loginForm.invalid"
          >
            Login
          </button>
          <button
            class="button"
            nz-button
            nzType="primary"
            routerLink="/auth/register"
          >
            Register
          </button>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
