nz-card{
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  margin: 0;
  margin-bottom: 1rem;
}

.image-container {
  height: 40%;
  img{
    height: 30vh;
    width: 100%;
  }
}

.details-container {
  padding: 16px;
  height: 60%;

  h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }

  .description {
    margin-top: 8px;
    font-size: 14px;
  }

  .price {
    margin-top: 8px;
    font-size: 16px;
    font-weight: bold;
  }

  .availability {
    margin-top: 8px;
    padding: 4px 8px;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    &.in-stock {
      background-color: green;
    }
    &.out-of-stock {
      background-color: red;
    }
  }

  button {
    margin-top: 8px;
  }
}
