<div class="main-container">
  <form
    class="form"
    nz-form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
    nzLayout="vertical"
  >
    <div class="form-item header">
      <div class="title">Register</div>
      <div class="logo"></div>
    </div>

    <nz-form-item class="form-item">
      <nz-form-label>Username</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          formControlName="username"
          type="text"
          placeholder="Username"
          name="username"
        />
        <div
          *ngIf="
            registerForm.get('username')?.dirty &&
            registerForm.get('username')?.hasError('required')
          "
        >
          Username is required
        </div>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-item">
      <nz-form-label>Email</nz-form-label>
      <nz-form-control nzErrorTip="Please enter a valid email address">
        <input
          nz-input
          formControlName="email"
          type="email"
          placeholder="Email"
          name="email"
        />
        <div
          *ngIf="
            registerForm.get('email')?.dirty &&
            registerForm.get('email')?.errors
          "
        >
          <div *ngIf="registerForm.get('email')?.hasError('required')">
            Email is required
          </div>
          <div
            *ngIf="
              registerForm.get('email')?.hasError('invalidUniversityEmail')
            "
          >
            Email should have this format:
            first-name.last-name@[student.]unitbv.ro
          </div>
        </div>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-item">
      <nz-form-label>Password</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          formControlName="password"
          type="password"
          placeholder="Password"
          name="password"
        />
        <div
          *ngIf="
            registerForm.get('password')?.dirty &&
            registerForm.get('password')?.hasError('required')
          "
        >
          Password is required
        </div>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-item">
      <nz-form-label>Select Role</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="role">
          <nz-option
            *ngFor="let option of options"
            [nzValue]="option"
            [nzLabel]="option"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-item">
      <nz-form-control class="footer">
        <div class="buttons-group">
          <button
            class="button"
            type="submit"
            nz-button
            nzType="primary"
            [disabled]="registerForm.invalid"
          >
            Register
          </button>
          <button
            class="button"
            nz-button
            nzType="primary"
            routerLink="/auth/login"
          >
            Log In
          </button>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
