.title{
  margin-top: 2rem;
  text-align: center;
  max-width: 100%;
}
.container {
  display: flex;
  justify-content: center;
  margin: 3rem 0rem 3rem 0rem;
  max-width: 90%;
}

.product-row{
  max-width: 90%;
}
