.title-container {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .title {
    text-align: center;
    color: #000000;
  }
}

.product-rows-container {
  padding: 0vh 2vw;
}
