.page-header {
  .logo {
    background-image: url("../../../../assets/images/logo_FCA311_14213D_resized.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 38px;
  }

  .menu-list {
    background-color: transparent;
  }
}
